/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/style.scss */
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 10, ../sass/style.scss */
a {
  color: #ffb700;
}

/* line 14, ../sass/style.scss */
#header {
  background-color: #333;
  color: white;
  overflow: hidden;
  height: 3em;
  line-height: 3em;
}
/* line 21, ../sass/style.scss */
#header h1 {
  float: left;
  padding: 0em 0.5em;
  border-right: solid 0.1em #888888;
}
/* line 27, ../sass/style.scss */
#header li {
  float: left;
  border-right: solid 0.1em #888888;
  padding: 0em 0.5em;
  height: 3em;
  overflow: hidden;
}
/* line 35, ../sass/style.scss */
#header li.input {
  line-height: 100%;
}
/* line 39, ../sass/style.scss */
#header label {
  display: block;
  font-size: 70%;
}

/* line 45, ../sass/style.scss */
#main {
  max-width: 35em;
  margin: 1em auto;
}
/* line 49, ../sass/style.scss */
#main section {
  padding: 1em;
  margin: 0.2em 0em;
  background-color: #fec;
}
/* line 55, ../sass/style.scss */
#main table {
  margin: auto;
}
/* line 58, ../sass/style.scss */
#main table td {
  background-color: white;
  border-top: solid 0.5em #ffeecc;
  padding: 0.5em;
}

/* line 66, ../sass/style.scss */
#pagename {
  background-color: #fa0;
  padding: 0.5em;
  font-size: 150%;
  line-height: 1em;
  font-weight: bold;
  color: white;
  overflow: hidden;
  border-bottom: solid 0.1em white;
}
/* line 76, ../sass/style.scss */
#pagename:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  background-color: #ff0;
  margin-right: 0.2em;
}
