doctype 5
html
  head
    title joindebate
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
  body
    div#wrap
      heaader#header
        h1 joindebate
      section#main
        section#programs
          article
            header 1
            p あいどるのはなし -全てはPerfumeから始まった-
            footer: a(href="http://twitter.com") @fnobi
